<h1>Su compra:</h1>
<h3>Numero de reservacion: 00<%= @booking.id %></h3>
<h3>From: <%= @flight.from %></h3>
<h3>To: <%= @flight.to %></h3>
<h3>Date: <%= @flight.date %></h3>
<h3>Total a pagar: $ <%= @booking.total %> </h3>
<h3>Id de la reservacion: <%= @booking.reservation_number %> </h3>

<hr><hr>